/* global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("/static/images/wallpaper.jpg") no-repeat center center fixed; 
    background-size: cover;
    filter: blur(10px);
    z-index: -1;
  }

  .header {
    display: flex;
    min-height: 40px;
    align-items: center;
    padding: 10px;
    background-color: rgb(7, 4, 17);
    position: relative;
  }
  
  .company-logo {
    display: flex;
    align-items: center;
    position: absolute;
}
  
  .company-logo img {
    width: 120px; 
    height: 40px;
  }

.container {
    width: 100%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.75);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: whitesmoke;
}

.logout {
    text-align: right;
}

/* flash messages style */

.flash-messages {
    position: fixed;
    top: 10px;
    left: 10px;
    width: auto;
    max-width: 300px;
    z-index: 1000;
    padding: 10px;
    background-color: white;
    color: black;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.flash-message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
}

.flash-message.success {
    color: green;
    border-left: 4px solid green;
}

.flash-message.error {
    color: red;
    border-left: 4px solid red;
}

/* form styles */

.form-group {
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin: 5px 0 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-check-input {
    margin-right: 5px;
}

.btn {
    width: 100%;
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}
