{% extends "dashboard_base.html" %}

{% block head %}
<title>Admin Dashboard</title>
{% endblock %}

{% block h1 %}
<h1>Admin Dashboard</h1>
{% endblock %}

{% block body %}

<main>

<h2>Manage Departments</h2>
<form method="POST" action="{{ url_for('admin_dashboard', admin_id=admin_id) }}">
    <div>
        <label for="name">New Department Name:</label>
        <input type="text" id="new_department_name" name="new_department_name" required>
        <button type="submit" name="action" value="add_department">Add Department</button>
    </div>
    <div>
        <label for="department">Select Department:</label>
        <select id="department" name="selected_department_id" onchange="this.form.submit()">
        <option value="">Select Department</option>
        {% for department in departments %}
        <option value="{{ department.dept_id }}" {% if department.dept_id == selected_department_id %} selected {% endif %}>
            {{ department.name }}
        </option>
        {% endfor %}
        </select>
        <button type="submit" name="action" value="delete_department" formnovalidate>Delete Department</button>
    </div>
</form>
</div>
<br>
<h2>Manage Employees</h2>
<div class="list-container">
{% if selected_department_id %}
    {% if employees | length == 0 %}
        <p>No employees in this department!</p>
    {% else %}
        {% for employee in employees %}
            <div class="list-card">
                <img src="{{ url_for('static', filename='images/user_icon.webp') }}" alt="{{ employee.first_name }} {{ employee.last_name }}" class="list-image">
                <div class="list-details">
                    <h3>{{ employee.first_name }} {{ employee.last_name }}</h3>
                    <p>{{ employee.email }}</p>
                    <p>Contact no: {{ employee.contact_no }}</p>
                    <p>Role: {{ employee.role }}</p>
                    <form method="POST" action="{{ url_for('delete_employee', admin_id=admin_id, employee_id=employee.emp_id) }}">
                        <input type="hidden" name="selected_department_id" value="{{ selected_department_id }}">
                        <button type="submit" name="action" value="delete_employee">Delete</button>
                    </form>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% else %}
    <p>No Department Selected!</p>
{% endif %}
</div>

<br>
<br>

<h2>Manage Reimbursement Requests</h2>
<div class="list-container">
{% if selected_department_id %}
    {% if claims | length == 0 %}
        <p>No New Reimbursement Requests from this department!</p>
    {% else %}
        {% for claim, employee, manager in claims %}
            <div class="list-card">
                <!-- <img src="{{ url_for('static', filename='images/claim_icon.webp')}}" class="list-image"> -->
                <div class="list-details">
                    <h3>{{ employee.first_name }} {{ employee.last_name }}</h3>
                    <p>{{ claim.amount }} | {{ claim.expense_type }}</p>
                    <p>{{ claim.created }}</p>
                    <p>{{ manager.first_name }} {{manager.last_name}}</p>
                    <p>Proof:
                        {% if claim.proof %}
                            <a href="{{ url_for('static', filename='uploads/' ~ claim.proof) }}" target="_blank">View</a>
                        {% else %}
                            No Proof
                        {% endif %}
                    </p>
                    <p>
                        <br>
                        <form method="POST" action="{{ url_for('assign_manager', admin_id=admin_id, req_id=claim.req_id)}}">
                            <input type="hidden" name="selected_department_id" value="{{ selected_department_id }}">
                            <label for="manager">Select Manager:</label>
                            <select id="manager" name="manager" style="width: 200px">
                            <option value="{{ manager.emp_id }}">{{ manager.first_name }} {{manager.last_name}}</option>
                            {% if user.emp_id != manager.emp_id %}
                                <option value="{{ user.emp_id }}">{{ user.first_name }} {{user.last_name}}</option>
                            {% endif %}
                            {% for emp in employees %}
                                {% if emp.role == 'MANAGER' and emp.emp_id not in (manager.emp_id, employee.emp_id) %}
                                    <option value="{{ employee.emp_id }}">{{ emp.first_name }} {{ emp.last_name }}</option>
                                {% endif %}
                            {% endfor %}
                            </select>
                            <button type="submit" name="action" value="assign_manager">Assign Manager</button>
                        </form>
                    </p>
                    {% if claim.status == "APPROVED" %}
                        <p style="color: green;">{{ claim.status }}</p>
                    {% elif claim.status == "REJECTED" %}
                        <p style="color: red;">{{ claim.status }}</p>
                    {% else %}
                        <p>{{ claim.status }}</p>
                    {% endif %}
                    
                    <p>
                        <form method="POST" action="{{ url_for('approve_reject_claim', user_id=admin_id, req_id=claim.req_id)}}">
                            <input type="hidden" name="selected_department_id" value="{{ selected_department_id }}">
                            <button type="submit" name="action" value="approve_claim">Approve Claim</button>
                            <button type="submit" name="action" value="reject_claim">Reject Claim</button>
                            <br>
                            <br>
                            <input type="text" name="comments" placeholder="Comments" style="width: 200px;">
                        </form>
                    </p>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% else %}
    <p>No Department Selected!</p>
{% endif %}
</main>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var selectedDepartmentId = {{ selected_department_id | tojson }};
        var departmentSelect = document.getElementById('department');
        if (selectedDepartmentId) {
            Array.from(departmentSelect.options).forEach(function (option) {
                if (option.value == selectedDepartmentId) {
                    option.selected = true;
                }
            });
        }
    });
</script>
{% endblock %}