{% extends "dashboard_base.html" %}

{% block head %}
<title>Employee Dashboard</title>
{% endblock %}

{% block h1 %}
<h1>Employee Dashboard</h1>
{% endblock %}

{% block body %}

<main>
<h2>My Reimbursement Requests</h2>
<div class="list-container">
{% if my_claims | length == 0 %}
    <p>No Reimbursement Requests submitted!</p>
{% else %}
    {% for claim in my_claims %}
        <div class="list-card">
            <img src="{{ url_for('static', filename='images/claim_icon.webp')}}" class="list-image">
            <div class="list-details">
                <p>{{ claim.amount }} | {{ claim.expense_type }}</p>
                <p>{{ claim.created }}</p>
                <p>Proof:
                    {% if claim.proof %}
                        <a href="{{ url_for('static', filename='uploads/' ~ claim.proof) }}" target="_blank" class="btn">View</a>
                    {% else %}
                        No Proof
                    {% endif %}
                </p>
                {% if claim.status == "APPROVED" %}
                    <p style="color: green;">{{ claim.status }}</p>
                {% elif claim.status == "REJECTED" %}
                    <p style="color: red;">{{ claim.status }}</p>
                {% else %}
                    <p>{{ claim.status }}</p>
                {% endif %}
                {% if claim.comments %}
                    <p>{{claim.comments}}</p>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endif %}
</div>
<br>
<br>
<a href="{{ url_for('submit_reimbursement', user_id=employee_id) }}" class="btn">Submit a Reimbursement Claim</a>
</main>

{% endblock %}