{% extends "dashboard_base.html" %}

{% block head %}
<title>Manager Dashboard</title>
{% endblock %}


{% block h1 %}
<h1>Manager Dashboard</h1>
{% endblock %}


{% block body %}
<main>

<h2>Manage Reimbursement Requests</h2>
<div class="list-container">
{% if claims | length == 0 %}
    <p>No New Reimbursement Requests alloted to you!</p>
{% else %}
    {% for claim, employee in claims %}
        <div class="list-card">
            <img src="{{ url_for('static', filename='images/claim_icon.webp')}}" class="list-image">
            <div class="list-details">
                <h3>{{ employee.first_name }} {{ employee.last_name }}</h3>
                <p>{{ claim.amount }} | {{ claim.expense_type }}</p>
                <p>{{ claim.created }}</p>
                <p>Proof:
                    {% if claim.proof %}
                        <a href="{{ url_for('static', filename='uploads/' ~ claim.proof) }}" target="_blank">View</a>
                    {% else %}
                        No Proof
                    {% endif %}
                </p>

                {% if claim.status == "APPROVED" %}
                    <p style="color: green;">{{ claim.status }}</p>
                {% elif claim.status == "REJECTED" %}
                    <p style="color: red;">{{ claim.status }}</p>
                {% else %}
                    <p>{{ claim.status }}</p>
                {% endif %}
                
                <p>
                    <form method="POST" action="{{ url_for('approve_reject_claim', user_id=manager_id, req_id=claim.req_id)}}">
                        <input type="hidden" name="selected_department_id" value="{{ selected_department_id }}">
                        <button type="submit" name="action" value="approve_claim">Approve Claim</button>
                        <button type="submit" name="action" value="reject_claim">Reject Claim</button>
                        <br>
                        <br>
                        <input type="text" name="comments" placeholder="Comments" style="width: 200px">
                    </form>
                </p>
            </div>
        </div>
    {% endfor %}
{% endif %}
</div>
<br>
<br>
<h2>My Reimbursement Requests</h2>
<div class="list-container">
{% if my_claims | length == 0 %}
    <p>No Reimbursement Requests submitted!</p>
{% else %}
    {% for claim in my_claims %}
        <div class="list-card">
            <img src="{{ url_for('static', filename='images/claim_icon.webp')}}" class="list-image">
            <div class="list-details">
                <p>{{ claim.amount }} | {{ claim.expense_type }}</p>
                <p>{{ claim.created }}</p>
                <p>Proof:
                    {% if claim.proof %}
                        <a href="{{ url_for('static', filename='uploads/' ~ claim.proof) }}" target="_blank" class="btn">View</a>
                    {% else %}
                        No Proof
                    {% endif %}
                </p>
                {% if claim.status == "APPROVED" %}
                    <p style="color: green;">{{ claim.status }}</p>
                {% elif claim.status == "REJECTED" %}
                    <p style="color: red;">{{ claim.status }}</p>
                {% else %}
                    <p>{{ claim.status }}</p>
                {% endif %}
                {% if claim.comments %}
                <p>{{claim.comments}}</p>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endif %}
</div>
<br>
<br>
<a href="{{ url_for('submit_reimbursement', user_id=manager_id) }}" class="btn">Submit a Reimbursement Claim</a>
</main>

{% endblock %}